<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>

<div class="container">
    <% items.forEach(item => { %>
    <article>
        <iframe id="player" width="560" height="315"
            src="https://www.youtube.com/embed/<%= item.id.videoId %>?enablejsapi=1" title="YouTube video player"
            allow="autoplay" allowfullscreen=""></iframe>
        <h4><%=item.snippet.title%></h4>
        <div class="yt-controllers">
            <button id="yt-playpause" type="button">
                Play/Pause
            </button>
            <button id="yt-stop" type="button">
                Stop
            </button>
        </div>
    </article>
    <% }) %>
</div>

<%- include('./partials/footer.ejs') %>